[project]
	description = Example usage of JavaEE 7 JAX-RS (REST API) and WebSocket Protocol based backend integrated with AngularJS based view. Enjoy!!!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bartk
[access "refs/for/refs/*"]
	read = group user/bartk
	push = group user/bartk
	label-Code-Review = -2..+2 group user/bartk
	label-Verified = -1..+1 group user/bartk
	rebase = group user/bartk
	removeReviewer = group user/bartk
	submit = group user/bartk
[access "refs/heads/*"]
	read = group user/bartk
	create = group user/bartk
	push = +force group user/bartk
	pushMerge = group user/bartk
[access "refs/tags/*"]
	push = +force group user/bartk
	pushTag = group user/bartk
	pushSignedTag = group user/bartk
